/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

/* common styles */

:root {
  color-scheme: dark;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

main {
  flex: 1;
  display: grid;
  grid-template-rows: 100vh auto;
  place-items: center;
  height: 100vh;
  overflow-y: scroll;
}

p {
  background-color: transparent;
  font-size: clamp(0.6rem, 2vw, 1rem);
}

/* graph and graph elements */

.light .graph_container{
  border: 2px solid black;
}

.dark .graph_container{
  border: 2px solid white;
}

.graph_container {
  aspect-ratio: 2/1;
  height: auto;
  width: 50vw;
  position: relative;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 4%;
  transition: transform 0.4s ease;
  height: 90%;
}

.dark .container {
  background-color: #1c1b22;
}

.light .container {
  background-color: white;
}

.bar {
  position: relative;
  width: 100%;
  background-color: #a18eff;
}

.key::after {
  position: absolute;
  content: "key";
  top: -2rem;
}

.start::after {
  position: absolute;
  content: "start";
  top: -2rem;
}

.end::after {
  position: absolute;
  content: "end";
  top: -2rem;
}

/* desc container and elements */

.desc_container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.desc_container .time_and_space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* menu and menu elements */

.menu {
  height: 100vh;
  width: 250px;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  border-left: 1px solid white;
  background-color: #1c1b22;
}

button,
input[type="number"] {
  padding: 0.75rem 1rem;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: flex-start;
}

label {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.legend {
  height: fit-content;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle {
  position: absolute;
  height: 45px;
  width: 45px;
  padding: 0.5rem;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: white;
  top: 0;
  right: 0;
}

/* notification element */

.notification {
  position: absolute;
  top: -25vh;
  padding: 1rem;
  background-color: lightgreen;
  color: black;
  border-radius: 5px;
}

.slideIn {
  animation: slideIn 1s ease;
}

/* animations */
@keyframes slideIn {
  0% {
    top: -25vh;
  }
  30% {
    top: 25vh;
  }

  70% {
    top: 25vh;
  }
  100% {
    top: -25vh;
  }
}

/* media query for tablets and mobile devices */

@media (max-width: 768px) {
  main {
    flex: auto;
    width: 100vw;
  }

  .menu {
    position: absolute;
    right: 0;
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
  }

  .graph_container {
    width: 90vw;
    padding: 0.75rem;
  }

  .toggle {
    display: flex;
  }
  
}
