* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

:root {
  color-scheme: dark;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x:hidden ;
}
main {
  flex: 1;
  display: grid;
  grid-template-rows: 100vh auto;
  place-items: center;
  height: 100vh;
  overflow-y: scroll;
}
.graph_container {
  aspect-ratio: 2/1;
  height: auto;
  width: 50vw;
  position: relative;
  padding: 1rem;
  border: 2px solid white;
  transition: all 0.5s ease-in-out;
}

.desc_container{
  padding:1rem;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 4%;
  transition: all 0.4s ease;
  height: 90%;
  background-color: #1c1b22;
}

.menu {
  height: 100vh;
  width: 250px;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  border-left: 1px solid white;
  background-color: #1c1b22;
}

button {
  padding: 0.75rem 1rem;
  width: 100%;
}
fieldset {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: flex-start;
}

label{
  display:flex;
  flex-direction: row-reverse;
  gap:1rem;
}

.legend {
  height: fit-content;
}

.bar {
  position: relative;
  width: 100%;
  background-color: #a18eff;
}

p {
  background-color: #1c1b22;
}

.key::after {
  position: absolute;
  content: "key";
  top: -2rem;
}

.start::after {
  position: absolute;
  content: "start";
  top: -2rem;
}

.end::after {
  position: absolute;
  content: "end";
  top: -2rem;
}

.notification {
  position: absolute;
  top: -25vh;
  padding: 1rem;
  background-color: lightgreen;
  color: black;
  border-radius: 5px;
}

.toggle{
  position: absolute;
  height:45px;
  width:45px;
  padding:0.5rem;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: white;
  top:0;
  right:0;
}



.slideIn {
  animation: slideIn 1s ease;
}

@keyframes slideIn {
  0% {
    top: -25vh;
  }
  30% {
    top: 25vh;
  }

  70% {
    top: 25vh;
  }
  100% {
    top: -25vh;
  }
}

@media (max-width: 768px) {
  main{
    flex:auto;
    width:100vw;
  }
  .menu {
    position: absolute;
    right: 0;
    transform: translateX(250px);
  }
  .graph_container {
    width:90vw;
    padding:0.75rem;
  }
  .toggle{
    display: flex;
  }
}
